@using Microsoft.AspNetCore.Identity
@inject SignInManager<BTUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Insect Crusher</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <!-- ------------------------------------------ Gogi stylesheets start ----------------------------------------------- -->
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/media/image/favicon.png" />

    <!-- Main css -->
    <link rel="stylesheet" href="~/vendors/bundle.css" type="text/css">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Daterangepicker -->
    <link rel="stylesheet" href="~/vendors/datepicker/daterangepicker.css" type="text/css">

    <!-- DataTable -->
    <link rel="stylesheet" href="~/vendors/dataTable/datatables.min.css" type="text/css">

    <!-- App css -->
    <link rel="stylesheet" href="~/assets/css/app.min.css" type="text/css">
    <!-- ------------------------------------------ Gogi stylesheets end ------------------------------------------------- -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/site.css" />
</head>

<body>

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-icon"></div>
        <span>Loading...</span>
    </div>
    <!-- ./ Preloader -->

    <!-- Content body -->
    <div class="content-body">
        <!-- Content -->
        <div class="content ">

            @RenderBody()

        </div>
        <!-- ./ Content -->

    </div>
    <!-- ./ Content body -->

    <!-- ------------------- Gogi scripts start ----------------------------- -->
    <!-- Main scripts -->
    <script src="~/vendors/bundle.js"></script>

    <!-- Apex chart -->
    <script src="~/vendors/charts/apex/apexcharts.min.js"></script>

    <!-- Daterangepicker -->
    <script src="~/vendors/datepicker/daterangepicker.js"></script>

    <!-- DataTable -->
    <script src="~/vendors/dataTable/datatables.min.js"></script>

    <!-- Dashboard scripts -->
    <script src="~/assets/js/examples/pages/dashboard.js"></script>

    <!-- App scripts -->
    <script src="~/assets/js/app.min.js"></script>

    <!-- Javascript -->
    <script src="~/vendors/ckeditor5/ckeditor.js"></script>

    <!-- ChartJS -->
    <script src="~/vendors/charts/chartjs/chart.min.js"></script>
    <script src="~/assets/js/examples/charts/chartjs.js"></script>

    <!--Google Charts -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <!-- ------------------- Gogi scripts end ----------------------------- -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>