@{
    ViewData["Title"] = "Log In";
    @* Instantiate the btUser *@
    //BTUser btUser = await _UserManager.GetUserAsync(User);
}

<body class="form-membership">

    <div class="form-wrapper">
        <a class="textLight" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="textLight" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>

</body>