@model AssignDevViewModel
@using BugTrackerMVC.Models.ViewModels

@{
    ViewData["Title"] = "Assign Developer";
}

<!-- Assign Developer -->

<div class="d-flex justify-content-center mt-5 flex-column align-items-center">

    <h3 class="my-5">Assign Developer</h3>
    <div class="card">
        <div class="card-header">
            <div class="card-title">Ticket: @Model.Ticket!.Title</div>
            <div class="card-title">Project: @Model.Ticket!.Project!.Name</div>
        </div>
        <div class="card-body">
            <form asp-action="AssignDeveloper" method="post" class="d-flex flex-column">
                <input type="hidden" asp-for="Ticket!.Id" />
                <select asp-items="Model.DevList" asp-for="DevId">
                </select>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-primary rounded-pill my-2">Save</button>
                </div>
            </form>

            <div class="row">
                <div class="d-flex justify-content-center">
                        <a asp-action="Details" asp-route-id="@Model.Ticket!.Id" class="btn btn-outline-secondary rounded-pill">Back to Ticket Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
