@model AssignDevViewModel
@using BugTrackerMVC.Models.ViewModels

@{
    ViewData["Title"] = "Assign Developer";
}

<div class="container mt-5">

    <div class="d-flex justify-content-center mt-5 flex-column align-items-center">

        <h3 class="my-5">Assign Developer</h3>
        <div class="card">
            <div class="card-header">
                <div class="card-title">@Model.Ticket!.Title</div>
            </div>
            <div class="card-body">
                <form asp-action="AssignDeveloper" method="post" class="d-flex flex-column">
                    <input type="hidden" asp-for="Ticket!.Id" />
                    <select asp-items="Model.DevList" asp-for="DevId">
                        <option value="">Unassigned</option>
                    </select>
                    <button type="submit" class="btn btn-primary my-3">Save</button>
                    <a asp-action="Details" asp-route-id="@Model.Ticket!.Id" class="btn btn-secondary my-3">Cancel</a>
                </form>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
