@model AssignDevViewModel
@using BugTrackerMVC.Models.ViewModels

@{
    ViewData["Title"] = "Assign Developer";
}

<!-- Assign Developer -->

<div class="page-header">
    <div>
        <h3>Assign Developer</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-action="Dashboard" asp-controller="Home">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-action="AllTickets">Tickets</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-action="Details" asp-route-id="@Model.Ticket!.Id">Ticket Details</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Assign Developer
                <li>
            </ol>
        </nav>
    </div>
</div>

<div class="d-flex justify-content-center mt-5 flex-column align-items-center">

    <div class="card">
        <div class="card-header">
            <div class="card-title">Ticket: @Model.Ticket!.Title</div>
            <div class="card-title">Project: @Model.Ticket!.Project!.Name</div>
            <p class="textItalics">Assign a developer for this ticket. Then, click "Save" when you're finished.</p>
        </div>
        <div class="card-body">
            <form asp-action="AssignDeveloper" method="post" class="d-flex flex-column">
                <input type="hidden" asp-for="Ticket!.Id" />
                <select asp-items="Model.DevList" asp-for="DevId">
                </select>
                <div class="form-group my-2">
                    <label asp-for="Ticket!.TicketStatusId" class="control-label">Status</label>
                    <select asp-for="Ticket!.TicketStatusId" class="form-control" disabled asp-items="ViewBag.TicketStatusId"></select>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-primary rounded-pill my-2">Save</button>
                </div>
            </form>

            <div class="row">
                <div class="d-flex justify-content-center">
                        <a asp-action="Details" asp-route-id="@Model.Ticket!.Id" class="btn btn-outline-secondary rounded-pill">Back to Ticket Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
