@model BugTrackerMVC.Models.Ticket

@{
    ViewData["Title"] = "Edit";
}

<!-- Edit a Ticket -->

<!-- Select2 -->
<link rel="stylesheet" href="~/vendors/select2/css/select2.min.css" type="text/css">

<div class="page-header">
    <div>
        <h3>Edit a Ticket</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-action="AllTickets">Tickets</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-action="Details" asp-route-id="@Model.Id">Ticket Details</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Edit a Ticket</li>
            </ol>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <form asp-action="Edit" method="post" asp-controller="Tickets">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ProjectId" />
            <input type="hidden" asp-for="Created" />
            <input type="hidden" asp-for="Updated" />
            <input type="hidden" asp-for="Archived" />
            <input type="hidden" asp-for="ArchivedByProject" />
            <input type="hidden" asp-for="DeveloperUserId" />
            <input type="hidden" asp-for="SubmitterUserId" />

            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TicketTypeId" class="control-label">Type</label>
                        <select asp-for="TicketTypeId" class="ticketList" asp-items="ViewBag.TicketTypeId"></select>
                        <span asp-validation-for="TicketTypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="form-group">
                        <label asp-for="TicketStatusId" class="control-label">Status</label>
                        <select asp-for="TicketStatusId" class="ticketList" asp-items="ViewBag.TicketStatusId"></select>
                        <span asp-validation-for="TicketStatusId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TicketPriorityId" class="control-label">Priority</label>
                        <select asp-for="TicketPriorityId" class="ticketList" asp-items="ViewBag.TicketPriorityId"></select>
                        <span asp-validation-for="TicketPriorityId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="form-group">
                        <label asp-for="ProjectId" class="control-label">Project</label>
                        <select asp-for="ProjectId" class="form-control" disabled asp-items="ViewBag.ProjectId"></select>
                        <span asp-validation-for="ProjectId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SubmitterUserId" class="control-label"></label>
                        <select asp-for="SubmitterUserId" class="form-control" disabled asp-items="ViewBag.SubmitterUserId"></select>
                        <span asp-validation-for="SubmitterUserId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-primary rounded-pill mx-3">Back to Ticket Details</a>
                <input type="submit" value="Save" class="btn btn-outline-primary rounded-pill" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <!-- Select2 -->
    <script src="~/vendors/select2/js/select2.min.js"></script>

    <script>
        $('.ticketList').select2({
            dir: $('body').hasClass('rtl') ? 'rtl' : ''
        });
    </script>
}
