@{
    ViewData["Title"] = "Home";
}

@*<div class="layout-wrapper">
    <div class="content-wrapper">
        <!-- Navigation -->
        <partial name="_Sidebar" />
        <div class="content-body">
            <div class="content ">
                <h2>Welcome to My BugTracker!</h2>
                <!-- Components.... -->
            </div>
        </div>
    </div>
</div>*@

<div>
    <h3>Welcome to The <span class="textInsect">Insect</span> <span class="textPul">Crusher</span>!</h3>
    <p>This is an issues-tracking application.</p>
    <p>Admin and Project Manager users can create and assign projects. Users can also manage the status of tickets and comment.</p>
    <p>Admins can manage the roles of employees in their company.</p>
</div>

@*<div class="content container">
    <div class="row row-cols-1 row-cols-md-2 align-items-center h-100">
        <div class="col mt-3 mt-md-0">
            <div>
                <h3>Welcome to The <span class="textInsect">Insect</span> <span class="textPul">Crusher</span>!</h3>
                <p>This is an issues-tracking application.</p>
                <p>Admin and Project Manager users can create and assign projects. Users can also manage the status of tickets and comment.</p>
                <p>Admins can manage the roles of employees in their company.</p>
            </div>
        </div>
    </div>
</div>*@


@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
