@{
    ViewData["Title"] = "Welcome";
    Layout = "/Views/Shared/_LayoutLanding.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>
  <!-- Header Start -->
  <header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light">
      <div class="container">
        <a class="navbar-brand" asp-action="Welcome"> <i class="fa-solid fa-cubes-stacked navbar-brand-icon"></i> Insect Crusher</a>
        <button class="navbar-toggler" type="button" id="navbarNavBtn" data-bs-toggle="collapse"
          data-bs-target="navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-action="Dashboard">the app</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/tn2690/BugTrackerMVC">the repo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://tomnguyen9517.netlify.app/#about">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://tomnguyen9517.netlify.app/#blogs">blog</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>
  </header>
  <!-- Header End -->


  <!-- Hero Start -->
  <section class="hero">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="hero-text col-lg-6 pb-6">
          <h1 class="hero-title">Manage the bugs in your system as they pop up.
          </h1>
          <p class="hero-description">
            Insect Crusher is a bug tracking system. Users can create and manage projects and tickets.
          </p>

          <a asp-action="Dashboard" class="btn btn-outline-light rounded-pill">Demo the App</a>
        </div>
        <div class="hero-img col-lg-6">
          <img src="~/img/InsectCrusher.png" class="img-fluid" style="max-width: 500px;" alt="appliction preview" />
        </div>
      </div>
    </div>
  </section>
  <!-- Hero End -->

    <!--Technologies Start-->
    <div class="brands">
        <div class="container text-center">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-4 col-lg-2 pb-5 ">
                    <i class="devicon-javascript-plain colored devIcons"></i>
                </div>
                <div class="col-md-4 col-lg-2 pb-5">
                    <i class="devicon-html5-plain colored devIcons"></i>
                </div>
                <div class="col-md-4 col-lg-2 pb-5">
                    <i class="devicon-css3-plain colored devIcons"></i>
                </div>
                <div class="col-md-4 col-lg-2 pb-5">
                    <i class="devicon-bootstrap-plain colored devIcons"></i>
                </div>
            </div>
        </div>
    </div>
    <!--Technologies End-->

  <!-- Footer Start -->
    <footer class="border-top footer container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-4 order-last order-md-first text-center text-md-start">
                <div class="copyright">&copy; 2022 Tom Nguyen All Rights Reserved</div>
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center order-0 order-md-2">
                <img src="~/img/InsectCrusherLogo_250.png" height="50" />
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-end order-3">
                <a href="https://www.linkedin.com/in/txn9517"><i class="bi bi-linkedin px-2 socialIcons"></i></a>
                <a href="https://github.com/tn2690/"><i class="bi bi-github socialIcons"></i></a>
            </div>
        </div>
    </footer>
</body>

</html>