@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Page Not Available";
}

<div class="row">
    <div class="col-12 col-lg-4">

        <div class="card">
            <div class="card-body">
                <img class="img-fluid" src="~/assets/media/svg/404.svg" alt="error image">
                <h3>Page not found</h3>
                <p class="text-muted">The page you want to go to is not available for access</p>
                <a asp-action="Index" class="btn btn-outline-light ml-2">Back</a>
            </div>
        </div>

    </div>
</div>