@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<body class="form-membership">

    <div class="form-wrapper">

        <h1>Reset Password</h1>
        <hr />

        <!-- form -->
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-lg btn-outline-primary rounded-pill">Submit</button>
        </form>

        <hr>
        <p class="text-muted">Register or Login</p>
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-sm btn-outline-light mr-1 rounded-pill">Register now!</a>
        or
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-sm btn-outline-light ml-1 rounded-pill">Login!</a>
        <!-- ./ form -->

    </div>

</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
