@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<body class="form-membership">

    <div class="form-wrapper">

        <p>
            Please check your email to reset your password.
        </p>

        </div>

 </body>
