@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<body class="form-membership">

    <div class="form-wrapper">

        <!-- form -->
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <h1>Welcome!</h1>
            <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating my-2">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating my-2">
                <input asp-for="Input.CompanyName" class="form-control" aria-required="true" />
                <label asp-for="Input.CompanyName"></label>
                <span asp-validation-for="Input.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-floating my-2">
                <input asp-for="Input.CompanyDesc" class="form-control" aria-required="true" />
                <label asp-for="Input.CompanyDesc"></label>
                <span asp-validation-for="Input.CompanyDesc" class="text-danger"></span>
            </div>
            <div class="form-floating my-2">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating my-2">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating my-2">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                <button id="registerSubmit" type="submit" class="btn btn-lg btn-outline-primary rounded-pill">Register</button>
            </div>

            <hr>
            <p class="text-muted">Already have an account?</p>
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-light btn-sm rounded-pill">Sign in!</a>
        </form>
        <!-- ./ form -->

    </div>

</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
