@model AssignPMViewModel
@using BugTrackerMVC.Models.ViewModels

@{
    ViewData["Title"] = "Assign Project Manager";
}

<!-- Assign Project Manager -->

<div class="page-header">
    <div>
        <h3>Assign Project Manager</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-action="AllProjects">Projects</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-action="Details" asp-route-id="@Model.Project!.Id">Project Details</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Assign Project Manager<li>
            </ol>
        </nav>
    </div>
</div>

<div class="d-flex justify-content-center mt-5 flex-column align-items-center">

    <div class="card">
        <div class="card-header">
            <div class="card-title">Project: @Model.Project!.Name</div>
            <p class="textItalics">Assign a project manager for this project. Then, click "Save" when you're finished.</p>
        </div>
        <div class="card-body">
            <form asp-action="AssignProjectManager" method="post" class="d-flex flex-column">
                <input type="hidden" asp-for="Project!.Id" />
                <select asp-items="Model.PMList" asp-for="PMId">
                    <option value="">Unassigned</option>
                </select>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-primary rounded-pill my-2">Save</button>
                </div>
            </form>

            <div class="col-12 col-lg-12">
                <div class="d-flex justify-content-center">
                    <a asp-action="Details" asp-route-id="@Model.Project!.Id" class="btn btn-outline-primary rounded-pill my-2">Back to Project Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
