@model AssignPMViewModel
@using BugTrackerMVC.Models.ViewModels

@{
    ViewData["Title"] = "Assign Project Manager";
}

<div class="d-flex justify-content-center mt-5 flex-column align-items-center">

    <h3 class="my-5">Assign Project Manager</h3>
    <div class="card">
        <div class="card-header">
            <div class="card-title">Project: @Model.Project!.Name</div>
        </div>
        <div class="card-body">
            <form asp-action="AssignProjectManager" method="post" class="d-flex flex-column">
                <input type="hidden" asp-for="Project!.Id" />
                <select asp-items="Model.PMList" asp-for="PMId">
                    <option value="">Unassigned</option>
                </select>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-primary rounded-pill my-3 mx-2">Save</button>
                </div>
            </form>

            <div class="col-12 col-lg-12">
                <div class="d-flex justify-content-center">
                    <a asp-action="AllProjects" class="btn btn-outline-primary rounded-pill mx-2">Back to Projects</a>
                    <a asp-action="Details" asp-route-id="@Model.Project!.Id" class="btn btn-outline-secondary rounded-pill">Back to Project Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
