@model BugTrackerMVC.Models.Project
@using BugTrackerMVC.Services.Interfaces
@using BugTrackerMVC.Models.Enums
@inject IBTFileService _BTFileService

@{
    ViewData["Title"] = "Edit Project";
}

<!-- Edit a Project -->

<!-- Select2 -->
<link rel="stylesheet" href="~/vendors/select2/css/select2.min.css" type="text/css">

<div class="page-header">
    <div>
        <h3>Edit a Project</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-action="AllProjects">Projects</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-action="Details" asp-route-id="@Model.Id">Project Details</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Edit a Project</li>
            </ol>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <form asp-action="Edit" method="post" asp-controller="Projects" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CompanyId" />
            <input type="hidden" asp-for="Created" />
            <input type="hidden" asp-for="ImageFileData" />
            <input type="hidden" asp-for="ImageFileType" />
            <input type="hidden" asp-for="Archived" />

            <div class="row">
                <div class="col-12 col-lg-6">
                    <!-- add image upload -->
                    <div class="form-group">
                        <label asp-for="ImageFormFile" class="control-label">Upload an Image for the Project</label>
                        <img id="projectImage" class="img-fluid border rounded-3 m-2" style="max-height: 250px;" src="@_BTFileService.ConvertByteArrayToFile(Model.ImageFileData!, Model.ImageFileType!, (int)DefaultImg.ProjectImg)" alt="project image">
                        <input asp-for="ImageFormFile" type="file" class="form-control mt-3 pt-2" accept=".png,.jpg,.jpeg,.gif"
                               onchange="document.getElementById('projectImage').src=window.URL.createObjectURL(this.files[0])" />
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProjectPriorityId" class="control-label">Priority</label>
                        <select asp-for="ProjectPriorityId" class="projPriorityList" asp-items="ViewBag.ProjectPriorityId"></select>
                        <span asp-validation-for="ProjectPriorityId" class="text-danger"></span>
                    </div>
                </div>
             </div>
            <div class="d-flex justify-content-center">
                <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-primary rounded-pill mx-3">Back to Project Details</a>
                <input type="submit" value="Save" class="btn btn-outline-primary rounded-pill" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <!-- Javascript -->
    <script src="~/vendors/select2/js/select2.min.js"></script>

    <script>
        $('.projPriorityList').select2({
            dir: $('body').hasClass('rtl') ? 'rtl' : ''
        });
    </script>
}
