:root {
    /* colors for the template */
    --tn-primary-color: rgb(41, 157, 216);
    --tn-secondary-color: rgb(42, 198, 201);
    --tn-highlight-color: rgb(249, 253, 5);
    --tn-dark-color: rgb(15, 22, 50);
    --tn-light-color: rgb(42, 198, 201);
    --tn-background-color: rgba(22, 148, 167, .8);
    --tn-text-dark-color: rgb(15, 22, 50);
    --tn-text-light-color: rgb(255, 255, 255);
    --tn-nav-toggler-glow: rgba(43, 230, 114, 0.55);

    /* fonts for the template */
    --tn-title-font: 'Bebas Neue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --tn-subtitle-font: 'Fira Sans', sans-serif;
    --tn-body-font: 'Roboto', sans-serif;
    --tn-font-size: 1.2rem;
    --tn-font-weight: 400;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*--------- Styles for Sticky Footer Start ----------*/

/*  html, body tags
    height of the viewport
    100% tall
    takes up all visible space */

/*html,
body {
    height: 100%;
}*/

/* body tag 
            cardboard box
            making the body a flex box */

/*body {
    display: flex;
    flex-direction: column;
}*/

/* content 
            grow = 1
            shrink = 0 
            making flex box grow 
            can change content to main - same effect
            margin-top navbar fixed to the top */

/*.content {
    flex: 1 0 auto;*/
    /* to offset the nav bar height */
    /*margin-top: 4.75rem;
}*/

/* footer tag 
            shrinking the footer as small as possible */

/*footer {
    flex-shrink: 0;
}*/

/*--------- Styles for Sticky Footer Stop ----------*/

.bootstrapIcons {
    color: var(--tn-dark-color);
}

.socialIcons {
    font-size: 4rem;
    color: var(--tn-light-color);
}

    .socialIcons:hover {
        color: var(--tn-nav-toggler-glow);
    }

.textLight {
    color: var(--tn-text-light-color);
}

.textDark {
    color: var(--tn-text-dark-color);
}

.BTUserCommentImg {
    height: 60px;
    width: 60px;
}

.textCrusher {
    color: red;
}

.textInsect {
    color: green;
}

/*--------- button overrides start ----------*/
.btn-outline-primary {
    color: var(--tn-background-color); /* change color of button */
    border-color: var(--tn-nav-toggler-glow) !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
    border-color: var(--tn-nav-toggler-glow);
    background-color: var(--tn-secondary-color);
    color: var(--tn-text-light-color) !important;
}

.btn-primary {
    color: var(--tn-text-light-color); /* change color of text button */
    background-color: var(--tn-secondary-color) !important;
    border-color: var(--tn-nav-toggler-glow);
}

    .btn-primary:hover {
        filter: brightness(1.1) !important;
        border-color: var(--tn-nav-toggler-glow) !important;
    }

    .btn-primary:active,
    .btn-primary:visited,
    .btn-primary:focus {
        filter: brightness(1.1) !important;
        border-color: var(--tn-nav-toggler-glow);
    }
/*--------- button overrides start ----------*/

/* square image */
.square-img-container {
    position: relative;
    background-color: var(--tn-background-color);
    border-color: var(--tn-light-color);
    border-style: solid;
}

    .square-img-container::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

.square-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}