@model BugTrackerMVC.Models.Invite

@{
    ViewData["Title"] = "Send Invite";
}

<!-- Create an Invite -->

<div class="page-header">
    <div>
        <h3>Company Invite</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-action="Dashboard" asp-controller="Home">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a>Company</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Company Invite</li>
            </ol>
        </nav>
    </div>
</div>

<div class="col-lg-6 col-md-12">
    <div class="card custom-card">
        <div class="card-body">
            <div>
                <p class="textItalics">Invite a new user to join your company.</p>
            </div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="InviteDate" />
                <input type="hidden" asp-for="JoinDate" />
                <input type="hidden" asp-for="CompanyToken" />
                <input type="hidden" asp-for="IsValid" />

                <div class="row row-xs align-items-center mg-b-20">
                    <div class="col-md-4">
                        <label class="mg-b-0">Email</label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0 my-2">
                        <input type="email" asp-for="InviteeEmail" class="form-control" placeholder="Enter email">
                        <span asp-validation-for="InviteeEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="row row-xs align-items-center mg-b-20 my-2">
                    <div class="col-md-4">
                        <label class="mg-b-0">First Name</label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0 my-2">
                        <input type="text" asp-for="InviteeFirstName" class="form-control" placeholder="Enter first name">
                        <span asp-validation-for="InviteeFirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row row-xs align-items-center mg-b-20 my-2">
                    <div class="col-md-4">
                        <label class="mg-b-0">Last Name</label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0 my-2">
                        <input type="text" asp-for="InviteeLastName" class="form-control" placeholder="Enter last name">
                        <span asp-validation-for="InviteeLastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row row-xs align-items-center mg-b-20">
                    <div class="col-md-4">
                        <label class="mg-b-0">Select Project</label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0 my-2">
                        <select class="form-control" asp-for="ProjectId" asp-items="@ViewBag.ProjectId">
                            <option value="">Select Project</option>
                        </select>
                    </div>
                </div>
                <div class="row row-xs align-items-center mg-b-20">
                    <div class="col-md-4">
                        <label class="mg-b-0">Message</label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0 my-2">
                        <textarea asp-for="Message" class="form-control" id="editor"></textarea>
                    </div>
                </div>
                <div class="form-group row justify-content-end mb-0">
                    <div class="col-md-8 pl-md-2 my-2">
                        <input type="submit" class="btn ripple btn-outline-primary pd-x-30 mg-r-5 rounded-pill" value="Send Invite" />
                        <a asp-action="Index" asp-controller="Home" class="btn ripple btn-outline-secondary pd-x-30 rounded-pill">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <!-- Javascript -->
    <script src="~/vendors/ckeditor5/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('#editor'), {
                toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
                heading: {
                    options: [
                        { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                        { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                        { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
                    ]
                }
            })
    </script>
}
